<%= form_with url: sessions_path , local: true do |form| %>
  <%= flash_message %>

<p>
  <%= form.label :email %>
  <%= form.text_field :email, id: :user_email %>
</p>

<p>
  <%= form.label :password %>
  <%= form.text_field :password, id: :user_password %>
</p>

<p><%= form.submit 'Enter' %></p>
<% end %>