<h1><%= t('.header', title: @assignment.test.title) %></h1>
<p>
  <h2>
    <font class="<%= result_message_class @assignment %>">
    <%= @assignment.percent_of %> % </font> <%= result_message @assignment %>.
  </h2>
</p>
<p><%= link_to "Back to Tests", tests_path %></p>
<%= render "badge" if @badges %>