<h1><%= t('.header', title: @assignment.test.title) %></h1>
<p>
  <h2>Question 
    <%= question_number %>
  </h2>
</p>

<b>
  <%= @assignment.current_question.body %>
</b>

<%= form_with url: assignment_path(@assignment), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @assignment.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>
  <p><%= form.submit 'Next' %></p>
<% end %>