<%= form_with(model: [:admin, @badge], local: true) do |f| %>
  <%= render 'shared/errors', resource: @badge %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :rule %><br />
    <%= f.label :rule, "From first try!"  %>
    <%= f.radio_button :rule, "1" %>
    <%= f.label :rule, "All from Rails"  %>
    <%= f.radio_button :rule, "2" %>
    <%= f.label :rule, "All from intermediate level"   %>
    <%= f.radio_button :rule, "3" %>
    <%= f.label :rule, "All comleted!" %>
    <%= f.radio_button :rule, "4", :checked => true %>
  </div>

    <%= f.submit %>
<% end %>