<%= form_with(model: [@question,@answer], local: true) do |f| %>
  <%= render 'shared/errors', resource: @answer %>

  <%= f.label :body %>
  <%= f.text_area :body, id: :answer_body, rows: 7, cols: 60 %>

  <%= f.label :correct %>
  <%= f.check_box :correct, id: :answer_correct %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
