<h1><%= question_header(@question) %></h1>
<%= form_with model: [:admin, @test, @question], local: true do |f| %>
  <%= render 'shared/errors', resource: @question %>

  <%= f.label :question %>
  <%= f.text_field :body, id: :body %>

  <%= f.submit %>
<% end %>

<%= link_to 'Back to tests', admin_tests_path %>