
<tr bgcolor= "<%= cycle('white', '#f2f2f2') %>">
  <td>
  <%= content_tag :span, test.title, class: "test-title", data: {test_id: test.id} %>
  <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="align-middle"><%= test.level %></td>
  <td class="align-middle"><%= test.questions.count %></td>
  <td class="align-middle">
    <%= link_to "Edit", edit_admin_test_path(test), data: {test_id: test.id}, class: "form-inline-link" %>
  </td>
  <td class="align-middle"><%= link_to 'Destroy',  [:admin, test] ,  method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>