<h2> Title: <%= @test.title %> </h2>
<h2> Level: <%= @test.level %> </h2>
<p><%= link_to "New Question", "#{params[:id]}/questions/new" %>
<p><%= link_to "Back to Tests", admin_tests_path %>
<p><h2>Questions</h2>
<table>
  <tr>
    <th>Body</th>
    <th colspan="2">Actions</th>
  

  <%= render @test.questions %>
  </tr>
</table>