<header>
  <nav class="navbar navbar-light bg-light">
    <%= link_to "TestGuru", root_path, class: "navbar-brand" %>
    <span class="navbar-text">
      <% if user_signed_in? %>
         <%= t(".welcome", name: current_user.first_name).html_safe %> |
        <%= link_to t(".logout", default: "Logout"), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to t(".sign_in", default: "Sign in"), new_session_path(resource_name) %> |
        <%= link_to t(".sign_up", default: "Sign up"), new_registration_path(resource_name) %>
      <% end %>
    </span>
  </nav>
</header>